:root {
  --background: #ffffff;
  --foreground: #171717;
}

::backdrop {
  background-image: linear-gradient(45deg, magenta, rebeccapurple, dodgerblue, green);
  opacity: 0.5;
  filter: blur(100px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 100%;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--white);
  font-family: var(--font-geist-sans) !important;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-height: 100svh;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: stretch;
  gap: 0;
  // cursor: url('./../public/awesome-face.cur') 4 12, auto;


  --s: 40px; /* control the size*/
  --c1: #fff;
  --c2: #e7e7e7;

  --g: conic-gradient(at 97% 47%, #0000 75%, var(--c1) 0);
  background: var(--g), var(--g) var(--s) var(--s) var(--c2);
  background-size: calc(2 * var(--s)) calc(2 * var(--s));
}

a {
  color: inherit;
  text-decoration: none;
  color: var(--color-primary) !important;
}

button {
  border: none;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.rounded {
  border-radius: 999px;
}

.relative {
  position: relative;
}

.d-block {
  display: block;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
