.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  height: 100%;
  user-select: none;

  /* Disconnected */

  /* Disconnected */
  // background-image: url('./../../public/bg.svg');

  progress {
    width: 100%;
    height: 13px;
    -webkit-appearance: none;
  }

  button {
    width: 100%;
    &[disabled] {
      background-color: var(--black-100) !important;
      color: var(--black-800);
    }
  }
}

.commentModal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  user-select: none;
  isolation: isolate;

  &__container {
    column-gap: 0.5rem;
    width: 100%;
    max-width: 600px;
    background-color: var(--white, #fff);
    border-radius: var(--global-border-radius);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1.5rem;

    &__header {
      padding: 1rem 0;
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      > div {
        text-align: center;
        padding: 0.5rem 0;
        align-self: stretch;
        will-change: transform;

        &:first-child {
          cursor: pointer;

          svg {
            &:hover {
              transform: scale(1.025);
              transition: all 0.3s ease-in-out;
            }

            &:active {
              transform: scale(0.95);
              transition: all 0.3s ease;
            }
          }
        }

        &:last-child {
          text-align: right;
          color: var(--color-primary);
        }
      }

      &:hover {
        svg {
          fill: var(--gray-500);
        }
      }
    }

    &__main {
      // figure {
      //   border: 1px solid var(--gray-100);
      //   background-color: var(--gray-50);
      //   margin: 0 auto;

      //   --r: 8rem;
      //   width: var(--r);
      //   height: var(--r);
      //   img {
      //     width: inherit;
      //     height: inherit;
      //     border-radius: inherit;
      //     aspect-ratio: 1/1;
      //   }
      // }
    }
  }

  &__footer {
    margin-top: 1rem;

    figure {
      img {
        width: 36px;
        height: 36px;
        border-radius: 1000px;
        margin-right: 0.5rem;
        border: 1px solid var(--gray-200);
        background: var(--gray-100);
        aspect-ratio: 1/1;
      }
    }

    textarea {
      border: none;
      font-size: 12px;
      font-weight: 400;
      color: var(--gray-500);
      line-height: 1.2;
      overflow-y: auto;
      resize: none;
      width: 100%;
      padding-left: 2.8rem;
      background-color: var(--white);
      margin-top: 1rem;
      &:focus {
        outline: none;
      }

      &:after,
      &:before {
        content: '';
        position: absolute;
        border-radius: 1000px;
      }

      &:before {
        --r: 10px;
        width: var(--r);
        min-height: var(--r);
        bottom: -0.2rem;
        left: 30%;
        transform: translateX(-30%);
        background-color: var(--white, #fff);
        z-index: 1;
      }

      &:after {
        --r: 4px;
        width: var(--r);
        height: var(--r);
        bottom: -0.45rem;
        left: 37%;
        transform: translateX(-30%);
        background-color: var(--white, #fff);
      }
    }
  }

  &__post {
    -webkit-tap-highlight-color: transparent;

    > section {
      position: relative;
      background-color: var(--white, #fff);
      transition: background-color 0.1s ease-out;
      isolation: isolate;
      place-items: stretch;
    }

    // background-image: url('/hup.svg');
    // background-position: 97% 95%;
    // background-repeat: no-repeat;
    // background-size: 2rem;

    &__header {
      width: fit-content;
      user-select: none;
    }

    &__main {
      padding-left: 3rem;
    }

    &__content {
      height: auto;
      max-height: 150px;
      overflow: hidden;
      padding-right: 0.4rem;
      line-height: 1.4;
      font-size: 13px;
      padding: 0.2rem 0;
      cursor: text;
    }
  }
}

.inputBox {
  position: relative;
  width: 100%;

  input {
    width: 100%;
    padding: 0.7rem 0.7rem;
    font-size: 16px;
    border: 1px solid var(--black-200);
    border-radius: 8px;
  }

  button {
    position: absolute;
    top: 50%;
    right: 0.3rem;
    transform: translateY(-50%);
    border-radius: 4px;
    background-color: var(--rose-100);
    color: var(--color-primary);
    width: 60px;
    font-weight: bold;
    height: 40px;
    will-change: transform;
    transition: transform 0.2s ease;

    &:hover {
      transform: translateY(-50%) scale(1.025);
    }

    &:active {
      transform: translateY(-50%) scale(0.95);
    }
  }
}

.btnRewards {
  color: var(--white);
  background-color: var(--color-primary);
  width: 100px !important;
  padding: 0.4rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  will-change: transform;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.025);
  }

  &:active {
    transform: scale(0.95);
  }
}

::-webkit-progress-bar {
  border-radius: 1000px;
  background-color: var(--gray-200);
}
::-webkit-progress-value {
  border-radius: 1000px;
  background-color: var(--color-primary);
}
.header {
  grid-row: 1/2;
  grid-column: 1/1;
  width: 100%;
  z-index: 999;
  color: var(--white);
  background-color: var(--black);

  ul {
    height: 100%;
    padding: 1rem 0;
    li {
      flex: 1;

      h1 {
        font-weight: 900;
        font-size: 12px;
      }

      small {
        font-size: 11px;
      }
    }
  }
}

figure.pfp {
  width: 32px;
  height: 32px;
  border: 1px solid var(--white);
  border-radius: 1000px;

  img {
    width: inherit;
    height: inherit;
    aspect-ratio: 1/1;
  }
}

.alert {
  width: 100%;
  padding: 0.7rem;
  text-align: center;
  background-color: var(--blue-100);
  color: var(--blue-600);
  font-weight: bold;
}

.welcome {
  padding: 1rem 0;
  font-size: 32px;
  font-weight: 500;

  img {
    width: 100px !important;
  }
}

.tabs {
  padding: 0.42rem;

  button {
    background-color: var(--white);
    width: 100%;
    padding: 0.7rem 0.42rem;
    border-radius: 0.7rem;
    will-change: transform;
    transition: transform 0.2s ease;

    &:active {
      transform: scale(0.95);
    }
  }
}

.activeTab {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);

  svg {
    path {
      stroke: var(--color-primary);
    }
  }
}

.divider {
  border: 1px solid var(--black-100);
}

.hero {
  color: var(--white);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0;

  img {
    width: 100%;
  }

  ul.action {
    padding: 1rem 0;

    li {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding: 1rem 1rem;
        height: 38px;
        border-radius: 999px;
        color: var(--white);
        background-color: #131313;
        font-weight: 500;

        border-radius: var(--global-border-radius);
      }

      &:last-child {
        a {
        }
      }
    }
  }
}

.grid {
  gap: 0.9rem;
}

.emoji {
  position: relative;
  width: 100%;
  height: 12rem;
  border-radius: var(--global-border-radius);
  background-color: var(--white, #fff);
  box-shadow: 0px 7.82816px 7.51503px rgba(0, 0, 0, 0.06);
  padding: 0.8rem 0.5rem;
  border-radius: 14px;

  p {
    font-size: 8px;
  }

  small {
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 0;
    gap: 6.26px;
    margin: 0 auto;
    background: #f2f2f2;
    color: var(--black-800);
  }

  button,
  a {
    width: 100%;
    padding: 4px 0;
    color: var(--white);
    cursor: pointer;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    will-change: transform;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.025);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  button {
    background: var(--black);
  }

  a {
    background: var(--color-primary);
  }

  &__icon {
    width: 100%;
    width: 60px;
    height: 60px;
    will-change: transform;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    z-index: 999;

    img {
      width: inherit;
      height: inherit;
    }
  }
}

.priceIcon {
  background-color: #f3f5f9;
  padding: 2px 6px;
  gap: 4px;

  img {
    width: 16px;
    height: 16px;
    border-radius: 6px;
    border: 1px solid var(--white, #fff);
  }
}

.profiles {
  column-gap: 0.5rem;
  padding: 1.4rem 0.5rem;
  overflow-y: hidden;
  overflow-x: auto;

  a {
    position: relative;
    transition: all 100ms ease-in;
    width: 32px;
    height: 32px;
    margin: 0 auto;

    &:hover {
      transform: scale(1.2);
      filter: brightness(100%);
    }

    span {
      position: absolute;
      right: -3px;
      bottom: -3px;
      z-index: 999;
      width: 18px;
      height: 18px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 0.01rem;
      border-radius: 999px;
      border: 1px solid var(--white);
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      width: 32px;
      height: 32px;
      cursor: pointer;
    }
  }
}

@media (prefers-color-scheme: dark) {
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (max-width: 600px) {
  // .page {
  //   padding: 32px;
  //   padding-bottom: 80px;
  // }

  // .main {
  //   align-items: center;
  // }
}

@media (prefers-color-scheme: dark) {
}
