@use './../styles/components/responsive' as *;

.header {
  grid-row: 1/2;
  grid-column: 1/1;
  width: 100%;
  z-index: 999;
  color: var(--white);
  background-color: var(--black);

  ul {
    height: 100%;
    padding: 1rem 0;
    li {
      flex: 1;

      h1 {
        font-weight: 900;
        font-size: 12px;
      }

      small {
        font-size: 11px;
      }
    }
  }
}

.alert {
  width: 100%;
  padding: 0.7rem;
  text-align: center;
  background-color: var(--blue-100);
  color: var(--blue-600);
  font-weight: bold;
}
